* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


 /* ------------- under 768px ----------------- */
 html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

header h1 {
  background-color: red;

  font-size: 5rem;
  text-align: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  background-color: rgb(187, 174, 201);
  width: 96vw;
  padding: 0;
}

.contact-nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  background-color: rgb(182, 201, 174);
  width: 96vw;
  padding: 0;
}


nav li {
  list-style: none;
  font-size: 2rem;
  padding: 0 1rem;
}

.hero-banner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 255, 0.5);
  background-blend-mode: overlay;
  color: white;
}

.work-content-grid {
  display: grid;
  grid-template-columns: 90vw;
  grid-auto-rows: 150px;
  /* background-color: aqua; */
  gap: 1rem;
  overflow: hidden;
}

.work-content-grid :first-child {
  /* grid-column: span 2; */
  grid-row: span 2;
}


/* ----------------- MEDIA QUERIES ----------------- */
@media screen and (min-width: 768px) {
  .work-content-grid {
    grid-template-columns: 45vw 45vw;
  }

  .work-content-grid :first-child {
    grid-column: span 2;
  }
}