:root {
  --header-bg-color: #31343d;
  --light-blue: #91cdcd;
  --dark-blue: #2b557b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0;
  padding: 0; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */

/* p {
  margin: 0.6% 2%;
} */


 /* ------------- under 768px ----------------- */
 html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  background-color: var(--header-bg-color);
}

header h1 {
  background-color: var(--light-blue);
  color: var(--header-bg-color);
  font-size: 5rem;
  text-align: center;
  border-top: 8px solid var(--header-bg-color);
  border-bottom: 8px solid var(--header-bg-color);
}

.page-wrapper {
  padding: 0 1%;
}

.page-wrapper .page-section h2 {
  font-size: 3rem;
  color: var(--dark-blue);
  border-bottom: 4px solid var(--dark-blue);
  margin-bottom: 10px;
}

.page-wrapper .page-section p {
  color: var(--dark-blue);
  margin: 1rem 2rem;
  font-size: 1.6rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  /* background-color: rgb(187, 174, 201); */
  width: 96vw;
  padding-bottom: 8px;
}

header a {
  color: var(--light-blue);
}

.contact-nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  color: var(--dark-blue);
  width: 96vw;
  padding: 0;
}

.contact-nav-links a {
  color: var(--dark-blue);
}

nav li {
  list-style: none;
  font-size: 2rem;
  padding: 0 1rem;
}

.hero-banner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-color: var(--dark-blue);
  background-blend-mode: lighten;
  color: white;
}

.work-content-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 150px;
  /* background-color: aqua; */
  gap: 1.5rem;
  /* overflow: hidden; */
  padding: 0;
  
}

.work-content-grid :first-child {
  /* grid-column: span 2; */
  grid-row: span 2;
}

/* .work-content-grid img {
  width: 700%;
  height: 200%;
} */

#surf, #wall, #calc, #puzzle, #buddy {
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  background-color: red;
  background-image: url("../images/02-portfolio-3.jpg");
  background-position: bottom;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-clip: content-box; */
  border: 6px solid var(--light-blue);
  border-radius: 8px;
}

#wall {
  background-image: url("../images/02-portfolio-1.jpg");
}

#calc {
  background-image: url("../images/02-portfolio-2.jpg");
}

#puzzle {
  background-image: url("../images/02-portfolio-4.jpg");
}

#buddy {
  background-image: url("../images/02-run-buddy.jpg");
  background-size: 100% 500%;

}

/* #wall {
  background-image: url("../images/02-portfolio-1.jpg");
} */
/* ----------------- MEDIA QUERIES ----------------- */
@media screen and (min-width: 768px) {
  .work-content-grid {
    grid-template-columns: 45vw 45vw;
  }

  .work-content-grid :first-child {
    grid-column: span 2;
  }

  .page-wrapper .page-section h2 {
    font-size: 4rem;
  }  
}
