* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.content {
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


 /* ------------------------------ */
 html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

/* * {
  margin: 0;
  padding: 0;
} */


header {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* width: 100%; */
  align-items: center;
  /* text-align: center; */
  
}

header h1 {
  background-color: red;
  /* min-width: 300px; */
  font-size: 5rem;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

nav li {
  list-style: none;
  /* display: inline; */
  font-size: 2rem;
  padding: 0 1rem;
}
